<div class="container">
    
    <footer class="footer">
        <small>
            Copyright © <a href="http://lpa.ufsc.br">Laboratório de Pesquisa Aplicada</a>
            por <a href="https://www.linkedin.com/in/iuryamerico/">Iury Melo</a>
        </small>
        
        <nav>
            <ul>
                <li><%= link_to "Sobre a Página", about_path %></li>
            </ul>
        </nav>
    
    </footer>

</div>